body {
  font-family: 'Neucha', cursive;
  color: #242424;
  background-color: #e8e8e9;
  margin:0;
padding:0;
}

.perfilImg {
  height: 250px;
  float: left;
  margin-right: 30px;
}

h1{
  font-family: 'Caveat', cursive;
  font-size: 8rem;
}

h2, h3 {
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}

.links:hover {
  transition: transform .3s;
  transform: scale(1.2);
}

a{
  color: #4e515f;
  text-decoration: none;
}

a:hover{
  color: #081135;
  text-decoration: none;
}

.whoAmI {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2.75rem;
  padding-top: 10px;
  padding-bottom: 30px;
}

.pixelimg {
  display: inline-block;
  height: auto;
  width: auto;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pixelimg:hover {
  transform: scale(1.5);
  transition: transform .3s;
}

hr {
  border-top: 10px solid #9d9db4;
  border-style: dotted none none none;
  width: 7%;
  margin: 70px auto;
}

.divPadrão {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
}

.footer {
  background-color: #9a9a9e;
  bottom: 0;
  text-align: center;
  padding: 2rem;
}

.aboutDentroDiv {
  width: 60%;
  margin: auto;
  text-align: left;
}

.tools {
  width: 30%;
  margin: auto;
  text-align: left;
}


#parallaxPix {
  background-image: url("../Images/fundo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallaxDev {
  background-image: url("../Images/fundoDev.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallaxWeb {
  background-image: url("../Images/fundoWeb.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallaxAbout {
  background-image: url("../Images/fundoAbout.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.headDiv:hover{
  transition: transform .3s;
  transform: scale(1.2);
}
*/
