body {
  background-image: url(../Images/clouds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  color: #2c2c3a;
}

.perfilImg {
  height: 250px;
  float: left;
  margin-right: 30px;

}

.links:hover{
  transition: transform .3s;
  transform: scale(1.2);
}

.whoAmI {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 2.75rem;
  padding-top: 10px;
  padding-bottom: 30px;
}

.pixelDiv {
  padding-top: 10px;
  padding-bottom: 20px;
  left: 0;
  text-align: center;
  font-size: 1.75rem;
  min-height: 500px;
  border: 5px solid black;
}

.pixelimg {
  display: inline-block;
  height: auto;
  width: auto;
  max-height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pixelimg:hover {
  transform: scale(1.5);
  transition: transform .3s;
}

.linhazinha {
  border-top: 10px solid #9d9db4;
  border-style: dotted none none none;
  width: 7%;
}

.gameDesignerDiv {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
  width: 100%;
  border: 5px solid black;
}

.aboutDiv {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
  border: 5px solid black;
}

.aboutDentroDiv{
  width: 60%;
  margin:auto;
  text-align: left;

}

.tools{
  width: 30%;
  margin: auto;
  text-align: left;

}

.contactDiv {
  height: 400px;
  padding-top: 10px;
  background-color: #d6e4f0;
  left: 0;
  text-align: center;
  font-size: 1.75rem;
  border: 5px solid black;
}

.parallaxPix {
  background-image: url("../Images/fundo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxDev {
  background-image: url("../Images/fundoDev.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxWeb{
  background-image: url("../Images/fundoWeb.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxAbout{
  background-image: url("../Images/fundoAbout.png");
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.headDiv:hover{
  transition: transform .3s;
  transform: scale(1.2);
}
*/
