.checklist-container,
.yearlist {
  .reminder {
    text-align: center;
    color: rgb(69, 69, 69);
  }

  select {
    width: 100%;
    height: 100%;
    font-size: 22px;
    padding: 0px 8px;
    background-color: transparent;
    color: white;
    border: 0px;
    border-bottom: 1px solid rgb(98, 98, 98);

    option {
      width: 50%;
      color: black;
    }
  }

  .dropdown {
    height: 70px;
  }

  .items-container {
    height: calc(100vh - 160px);
    // margin-top: 8px;
    overflow: auto;
    border-bottom: 1px solid white;
    border-top: 1px solid white;

    .item {
      margin: 8px;
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;

      &.green {
        background-color: green;
      }
      &.red {
        background-color: red;
      }

      .item-name {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-left: 16px;
        width: 100%;
        height: 100%;
      }

      input {
        height: 24px;
        padding: 4px;
        width: 70%;
        border: none;
        border-radius: 4px;
      }

      button {
        background-color: $base-purple;
        border: none;
        height: 44px;
        width: 44px;
        border-radius: 50%;

        &.small {
          height: 28px;
          width: 28px;
          background-color: transparent;
          margin-right: 12px;

          img {
            height: 100%;
          }
        }

        img {
          height: 24px;
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(77deg)
            brightness(103%) contrast(106%);
        }
      }
    }
  }

  .buttons {
    position: fixed;
    bottom: 0;
    height: 70px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      background-color: $base-purple;
      height: 56px;
      width: 56px;
      border: 4px solid white;
      border-radius: 100px;
      margin-bottom: 16px;

      img {
        height: 32px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(77deg)
          brightness(103%) contrast(106%);
      }
    }
  }
}
.checklistModal {
  width: 70%;
}
.newCheckListForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .newChecklistInput {
    padding: 8px;
    border: 0px;
    border-bottom: 1px solid rgb(93, 93, 93);
    margin-bottom: 16px;
  }

  .submitNewChecklist {
    font-family: "Quicksand", sans-serif;
    background-color: $base-purple;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    border: 0px;

    &:disabled {
      background-color: $light-purple;
    }
  }
}

.confirmDeleteList {
  font-family: "Quicksand", sans-serif;
  background-color: $base-purple;
  color: white;
  border-radius: 8px;
  padding: 16px 32px;
  border: 0px;
  margin: 16px 0px;
}
