.party-container {
  padding: 16px 32px;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  //   overflow-x: scroll;

  .conditions-container {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 24px;

    img {
      width: 48px;
    }
  }

  .pc-item {
    min-width: 250px;
    max-width: 250px;
    background-color: #292929;
    height: 92vh;
    overflow: hidden;
    padding: 8px;
    display: flex;
    flex-direction: column;

    &.contrating {
      box-shadow: 0 0 40px 10px #8989ff79;
    }

    &.dying {
      box-shadow: 0 0 40px 10px #ff898979;
    }

    img {
      width: 100%;
    }

    .scrollable {
      margin-top: 8px;
      flex-grow: 1;
      overflow: scroll;
      position: relative;

      .darkvision {
        position: absolute;
        right: 4px;
        top: 4px;
      }

      .concentrate {
        position: absolute;
        clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
        // text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        left: 32px;
        top: 4px;
        height: 32px;
        background-color: $background;
        width: 32px;
        color: #292929;
        cursor: default;

        &.active {
          color: white;
          background-color: #8989ff;
        }
      }

      h3 {
        margin-left: 8px;
        margin-bottom: 8px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      h2 {
        font-size: 32px;
        text-align: center;
        margin: auto;
      }
      .inventory {
        ul {
          margin: 0px;
          padding-left: 28px;
        }
      }

      .death-container {
        display: flex;
        flex-direction: column;

        .bedIcon {
          width: 48px;
        }

        .checks {
          display: flex;
          width: 90%;
          justify-content: space-between;
          align-items: center;
          margin: 8px;
          padding: 8px;
          background: linear-gradient(
            90deg,
            rgba(121, 9, 9, 0.29735644257703087) 0%,
            rgba(41, 41, 41, 1) 50%,
            rgba(17, 154, 7, 0.3029586834733894) 100%
          );

          input {
            margin: 0px;
            border: 0px;
            height: 16px;
            width: 16px;
          }

          :nth-child(1) {
            transform: scaleX(-1);
            margin-left: 8px;
          }

          :nth-child(4) {
            margin-right: 8px;
          }

          :last-child {
            margin-left: 8px;
          }
        }
      }

      textarea {
        font-family: "Quicksand", sans-serif;
        resize: vertical;
        margin: 8px;
        margin-top: 0px;
        width: 100%;
        height: 250px;
        resize: none;
        box-sizing: border-box;
        background-color: transparent;
        color: white;
        padding: 8px;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          140deg,
          #ffffff,
          #0e0e0e00,
          #0e0e0e00,
          #ffffff
        );

        margin-bottom: 16px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(77deg)
          brightness(103%) contrast(106%);
        width: 24px;
        margin-right: 8px;

        &.langIcon {
          width: 48px;
        }
      }

      .pc-conditions {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 8px;
        row-gap: 8px;

        img {
          width: 36px;
        }
      }

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &.inventory {
          justify-content: left;
        }

        .fillable {
          width: 24px;
          height: 16px;
          text-align: center;
          margin-right: 4px;
          border-image-slice: 1;
          border-image-source: linear-gradient(
            140deg,
            #0e0e0e00,
            #0e0e0e00,
            #ffffff
          );
          padding: 4px;
          color: white;
          background-color: transparent;

          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            left: 0;
          }
        }

        &.lang-container {
          display: grid;
          grid-template-columns: 1fr 2fr;
          justify-items: center;
          margin: 16px 0px;

          .languages {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            column-gap: 8px;

            p {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}

.condition-tooltip-name {
  text-align: center;
  margin: 8px 0px;
}
