.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 15;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  position: fixed;
}

.youtube-modal {
  z-index: 25;
  width: 750px;
  position: fixed;
  height: 250px;
  background-color: white;

  color: black;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 16px 0px 0px;
  transition: bottom 0.1s ease-in-out;

  &.visible {
    bottom: 0;
  }

  &.hide {
    bottom: -50%;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding: 8px;

    .selectors {
      display: flex;
      justify-content: space-around;
      margin: 0px;

      p {
        margin: 0px;
        margin-bottom: 6px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: 0.1s ease;

        &:hover {
          text-decoration: underline;
          transform: scale(1.2);
        }
      }
    }

    .songs {
      overflow: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      display: flex;
      flex-direction: column;

      .list-option {
        text-align: left;
        margin-bottom: 6px;
        border: 1px solid rgb(188, 188, 188);
        height: 30px;
        font-size: 18px;
        border-radius: 4px;
        padding-left: 8px;

        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.modal {
  padding: 16px;
  background: white;
  color: black;
  z-index: 20;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 80vh;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &.flex {
    display: flex;
  }

  &.diary {
    max-height: 100vh;
    height: 100%;
    left: 240px;
    width: 450px;
    position: fixed;
    //
    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      width: 100%;
    }

    .diary-header {
      display: flex;
      width: 450px;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 16px;
    }

    .diary-entries {
      justify-content: left;
      align-items: baseline;
      overflow: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      padding-bottom: 50px;

      textarea {
        height: 250px;
        width: 400px;
      }
    }
  }

  .party-modal {
    .add-pc-container {
      margin-top: 24px;
      justify-content: space-around;

      button {
        width: 115px;
        padding: 8px;
        border: none;
        color: white;
        border-radius: 4px;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;

        &.delete {
          background-color: $soft-red;
        }

        &.save {
          background-color: $base-purple;

          &:disabled {
            background-color: $light-purple;
          }
        }
      }
    }

    h2 {
      margin: 8px 0px;
      margin-right: 8px;
    }
    .two-columns {
      display: flex;
      gap: 15px;

      div {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 0;
        }
      }

      textarea {
        height: 150px;
        padding: 8px;
        resize: none;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          140deg,
          #000000,
          #0e0e0e00,
          #0e0e0e00,
          #000000
        );

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        padding: 8px;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          15deg,
          #000000,
          #0e0e0e00,
          #0e0e0e00,
          #0e0e0e00
        );

        &[type="file"] {
          max-width: 185px;
        }
      }
    }
  }
}
