.underbingo {
  h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 42px;
  }
  .bingo-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 70%;
    margin: auto;

    .bingo-card {
      width: 100%;
      height: 140px;
      background-color: $light-purple;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-weight: bold;

      &.selected {
        background-color: $base-purple;
        box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25);
        transform: translateY(2px) scale(0.98);
      }
    }
  }
}
